<div class="navbar">
    <a routerLink="/admin" routerLinkActive="active">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Phê duyệt
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a routerLink="/admin/verify/accounts" routerLinkActive="active">Tài khoản</a>
            <a routerLink="/admin/verify/posts" routerLinkActive="active">Bài đăng</a>
            <a routerLink="/admin/verify/comments" routerLinkActive="active">Bình luận</a>
        </div>
    </div>
    <a>Thanh toán</a>
    <a>Gia hạn</a>
    <a>Thông báo</a>
</div>