<div class="nav-bar">
    <img style="float: left" src="./assets/EA-Emblem.png" height="40px">
    <a routerLink="">
        EasyAccomod
    </a>
    <a routerLink="/ea/admin" routerLinkActive="active">Home</a>
    <div class="drop">
        <button class="dropbutton">Quản lí</button>
        <div class="drop-content">
            <a routerLink="verify/accounts" routerLinkActive="active">Tài khoản</a>
            <a routerLink="verify/posts" routerLinkActive="active">Bài đăng</a>
            <a routerLink="verify/comments" routerLinkActive="active">Bình luận</a>
            <a routerLink="verify/reports" routerLinkActive="active">Report</a>
        </div>
    </div>
    <a routerLink="payment" routerLinkActive="active">Thanh toán</a>
    <a routerLink="extend">Gia hạn</a>
    <a routerLink="notifications">Thông báo</a>
</div>