.nav-bar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

/* Links inside the nav-bar */

.nav-bar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */

.drop {
    float: left;
    overflow: hidden;
}

/* Dropdown button */

.drop .dropbutton {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

.nav-bar a:hover, .drop:hover .dropbutton {
    background-color: rgba(8, 153, 189, 0.856);
}

/* Dropdown content (hidden by default) */

.drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */

.drop-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */

.drop-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */

.drop:hover .drop-content {
    display: block;
}