<div class="nav-bar">
    <a routerLink="/admin" routerLinkActive="active">Home</a>
    <div class="drop">
        <button class="dropbutton">Phê duyệt</button>
        <div class="drop-content">
            <a routerLink="/admin/verify/accounts" routerLinkActive="active">Tài khoản</a>
            <a routerLink="/admin/verify/posts" routerLinkActive="active">Bài đăng</a>
            <a routerLink="/admin/verify/comments" routerLinkActive="active">Bình luận</a>
        </div>
    </div>
    <a routerLink="/admin/payment" routerLinkActive="active">Thanh toán</a>
    <a routerLink="/admin/extend">Gia hạn</a>
    <a routerLink="/notifications">Thông báo</a>
</div>