<div class="container">
    <div class="posts">
        <input class="search" type="text" placeholder="Tìm kiếm bài đăng">
        <button class="verify" (click)="verifyPost()">Duyệt bài đăng</button>
        <button class="deny">Từ chối bài đăng</button>

        <br>
        <table>
            <thead>
                <th>
                    <input type="checkbox" (change)="addAllPost($event)">
                </th>
                <th>ID bài đăng</th>
                <th>Tên bài đăng</th>
                <th>Username</th>
                <th>Thời gian tạo</th>
                <th>Trạng thái duyệt</th>
            </thead>

            <tbody>
                <tr *ngFor="let post of unverifiedPosts">
                    <td><input type="checkbox" (click)="addPost($event)"></td>
                    <td>{{post.postID}}</td>
                    <td>{{post.postName}}</td>
                    <td>{{post.accountUsername}}</td>
                    <td>{{post.createdAt}}</td>
                    <td>{{post.verifiedStatus}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="post-info">
        <h1>Thông tin phòng trọ</h1>
    </div>
</div>