<div class="container">
    <div class="posts">
        <input class="search" type="text" placeholder="Tìm kiếm bài đăng">
        <button class="verify">Duyệt bài đăng</button>
        <button class="deny">Từ chối bài đăng</button>

        <br>
        <table>
            <tr>
                <th>
                    <input type="checkbox">
                </th>
                <th>ID bài đăng</th>
                <th>Tên bài đăng</th>
                <th>Username</th>
                <th>Ngày đăng</th>
                <th>Trạng thái duyệt</th>
            </tr>
        </table>
    </div>

    <div class="post-info">
        <h1>Thông tin phòng trọ</h1>
    </div>
</div>