<div class="container">
    <div class="posts">
        <button class="btn btn-primary verify" (click)="verifyPost()">Duyệt bài đăng</button>
        <button class="btn btn-warning deny" (click)="denyPost()">Từ chối bài đăng</button>
        <button class="btn btn-danger deny" (click)="deletePost()" *ngIf="showDeleteButton">Xóa bài đăng</button>

        <select class="form-control" (change)="getPostByType($event)">
            <option>Tất cả</option>
            <option>Đã được duyệt</option>
            <option>Chưa được duyệt</option>
        </select>

        <table class="table table-hover">
            <thead class="thead-dark">
                <th>
                    <input type="checkbox" (change)="addAllPost($event)">
                </th>
                <th>ID bài đăng</th>
                <th>Tên bài đăng</th>
                <th>Username</th>
                <th>Thời gian tạo</th>
                <th>Trạng thái duyệt</th>
            </thead>

            <tbody>
                <tr *ngFor="let post of postsList">
                    <td><input type="checkbox" (click)="addPost($event)"></td>
                    <td>{{post.postID}}</td>
                    <td>{{post.postName}}</td>
                    <td>{{post.accountUsername}}</td>
                    <td>{{post.createdAt | date : 'short' : 'Asia/Ho_Chi_Minh'}}</td>
                    <td>{{post.verifiedStatus}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="post-info">
        <h1>Thông tin phòng trọ</h1>
    </div>

    <div class="noti" *ngIf="verifiedSuccessfully">
        Phê duyệt thành công
    </div>
</div>