<app-main-nav> </app-main-nav>

<div class="container">

    <div class="main">
        <mat-paginator style-paginator showFirstLastButtons (page)="pageChangeEvent($event)" [length]="pageLength" [pageSize]="pageSizeOptions[2]"
            [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>

        <div class="room" *ngFor="let post of previewPosts">
            <a routerLink="/post/details/{{post.postID}}">
                <img [src]="postImages[post.postID-1]" height="200px" width="">
            </a>
            <h2>{{post.postName}}</h2>
            <p>Thời gian đăng: {{post.postTime}} </p>
        </div>
    </div>

    <div class="sidebar">
        <h1>Sidebar</h1>
    </div>
</div>