<div class="container">

    <div class="post-details">
        <div class="post-title">
            <h1>Tên bài đăng</h1>
        </div>
        

        <div class="roomPreview">
            <!-- <h2>Preview</h2> -->
            <img src="../../assets/3.jpg">
            <div class="thumb-bar">
                <img src="../../assets/2.jpg">
                <img src="../../assets/1.jpg">
                <img src="../../assets/4.jpg">
            </div>
        </div>

        <div class="roomDetails">
            <h2>Thông tin chi tiết</h2>
            <ul>
                <li>Địa chỉ: </li>
                <li>Loại phòng: </li>
                <li>Chung chủ </li>
                <li>Diện tích </li>
            </ul>

            <div class="utils">
                <h3>Cơ sở vật chất</h3>
                <ul>
                    <li>Điều hòa: </li>
                    <!-- <input type="text" class="form-control"> -->
                    <li>Balcony</li>
                    <li>Giá điện: </li>
                    <li>Giá nước: </li>
                    <li>Phòng bếp: </li>
                    <li>Phòng tắm: </li>
                </ul>

                <div class="price">
                    <h4>Giá phòng</h4>
                    <ul>
                        <li>Theo tháng</li>
                        <li>Theo quý</li>
                        <li>Theo năm</li>
                    </ul>

                </div>

                <div class="otherUtils">
                    <h4>Tiện ích khác</h4>
                </div>
            </div>
        </div>

        <div class="features">
            <h2>Feature</h2>
            <button type="button" class="btn btn-primary">Favorite</button>
            <button type="button" class="btn btn-danger">Report </button>
        </div>

        <div class="roomDescription">
            <h2>Mô tả phòng trọ</h2>
        </div>


        <div class="owner-info">
            <h2>Thông tin liên lạc</h2>

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Họ tên</th>
                        <th>Số điện thoại</th>
                    </tr>
                </thead>
                <tbody>
                    <td>Dinh Trọng Hiếu</td>
                    <td>0927146476</td>
                </tbody>
            </table>
        </div>

        <div class="comments">
            <h2>Bình luận</h2>
        </div>
    </div>
</div>