<app-main-nav> </app-main-nav>

<div class="container">
    <div class="post-title">
        <h1>{{postInfo?.postName}}</h1>
    </div>

    <div class="post-details">
        <div class="roomPreview">
            <img id="main" [src]="roomImages[0]">
            <div class="thumb-bar">
                <img *ngFor="let img of roomImages" [src]="img" (click)="changeImage($event)">
            </div>
        </div>

        <div class="roomDetails">
            <h2>Thông tin phòng trọ</h2>
            <div>
                <ul>
                    <li>Trạng thái thuê: <span>{{roomInfo?.rented === false ? 'Chưa được thuê' : 'Đã được thuê'}}</span>
                    </li>

                    <li>Địa chỉ:
                        <span> số nhà {{roomInfo?.homeNumber}}, đường {{roomInfo?.street}}, phường {{roomInfo?.ward}},
                            quận {{roomInfo?.district}},
                            {{roomInfo?.city}}
                        </span>
                    </li>
                    <li>Chung chủ: <span>{{roomInfo?.sharedOwner === false ? 'Không' : 'Có'}}</span></li>
                    <li>Diện tích: <span>{{roomInfo?.area}} m<sup>2</sup></span> </li>
                    <li>Loại phòng: <span>{{roomInfo?.roomType}}</span></li>

                </ul>
            </div>

            <div class="utils">
                <h3>Cơ sở vật chất</h3>
                <ul>
                    <li>Điều hòa: <span>{{roomInfo?.airconditioner === true ? 'Có' : 'Không'}}</span></li>
                    <li>Ban công: <span>{{roomInfo?.balcony === true ? 'Có' : 'Không'}}</span></li>
                    <li>Giá điện: <span>{{roomInfo?.electricityPrice}}</span></li>
                    <li>Giá nước: <span>{{roomInfo?.waterPrice}}</span></li>
                    <li>Phòng bếp: <span>{{roomInfo?.kitchen}}</span></li>
                    <li>Phòng tắm: <span>{{roomInfo?.bathroom}}</span></li>
                </ul>

                <div class="price">
                    <h3>Giá phòng</h3>
                    <ul>
                        <li>Theo tháng: <span>{{roomInfo?.monthPrice}} đồng</span></li>
                        <li>Theo quý: <span>{{roomInfo?.quarterPrice}} đồng</span></li>
                        <li>Theo năm: <span>{{roomInfo?.yearPrice}} đồng</span></li>
                    </ul>
                </div>

                <div class="otherUtils">
                    <h3>Tiện ích khác: </h3>
                    <span>{{roomInfo?.otherUtils}}</span>
                </div>
            </div>
        </div>

        <div class="features">
            <h2>Feature</h2>

            <div class="post-stats">
                <span>Lượt xem: {{postInfo?.viewsNumber + 1}}</span>
                <span>Số lượt yêu thích: {{postInfo?.likesNumber}}</span>
                <span>Số sao: {{postInfo?.starsReview}}</span>
            </div>
            <div>
                <button type="button" class="btn btn-primary">Favorite</button>
                <button type="button" class="btn btn-danger">Report </button>
                <button type="button" class="btn btn-info"
                    *ngIf="postInfo?.accountUsername === currentAccount?.username">Gia hạn </button>
            </div>
        </div>

        <div class="owner-info">
            <h2>Thông tin liên lạc</h2>

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Họ tên</th>
                        <th>Số điện thoại</th>
                    </tr>
                </thead>
                <tbody>
                    <td>{{ownerInfo?.fullName}}</td>
                    <td>{{ownerInfo?.phoneNumber}}</td>
                </tbody>
            </table>
        </div>
    </div>

    <div class="roomDescription">
        <h2>Mô tả phòng trọ</h2>
        <p>{{roomInfo?.description}}</p>
    </div>

    <div class="comments">
        <h2>Bình luận</h2>
    </div>
</div>