.post-details {
    display: grid;
    grid-template-areas: "postTitle postTitle " "postStats postStats " "roomImage roomDetails " "ownerInfo features" "comments comments";
    grid-template-columns: 1fr 2fr;
}

.post-stats {
    grid-area: postStats;
}

.post-title {
    grid-area: postTitle;
    padding: 5px;
}

.roomDetails {
    grid-area: roomDetails;
}

.owner-info {
    grid-area: ownerInfo;
}

.roomPreview {
    grid-area: roomImage;
}

.features {
    grid-area: features;
}

.comments {
    grid-area: comments;
}

.thumb-bar img {
    float: left;
    display: block;
    width: 33%;
}

.roomPreview>img {
    width: 400px;
}

.favorite button {
    display: inline-block;
}

.owner-info, .comments, .roomPreview, .features, .post-stats, .post-title, .roomDetails {
    background-color: white;
    border-radius: 5px;
}

.container div {
    margin: 10px
}

.features h2, .owner-info h2 {
    display: block;
    background-color: rgb(60, 103, 141);
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 5px;
}

.comments h2, h2, .roomDetails h2 {
    padding: 5px;
}

.roomDetails h2 {
    font-size: 2em;
    margin: 0px 10px;
}

.post-details {
    background-color: white;
}

ul li {
    font-weight: bold;
    list-style-type: disc;
}

i {
    margin-right: 5px;
}

.roomDetails {
    border-left: 1px solid rgb(226, 221, 221);
}

.features button {
    margin: 5px;
}

li span {
    font-weight: normal;
}

.thumb-bar img {
    height: 150px;
    object-fit: cover;
}

.thumb-bar img:hover {
    cursor: pointer;
}

.post-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul:not(.list-group) li {
    flex: 1 200px;
    margin-bottom: 10px;
}

#main {
    height: 400px;
    object-fit: contain;
}

h3 {
    font-size: large;
}

p {
    margin-left: 10px;
}

.post-title h1 {
    margin: auto 10px;
}

.list-group li {
    margin-top: 0px;
    flex-basis: auto;
}

.card-header {
    font-size: large;
    font-weight: bold;
}

.owner-info h2 {
    margin-bottom: 0px;
}

.checked {
    color: orange;
}