<app-main-nav> </app-main-nav>

<div class="container">
    <div class="post-title">
        <h1>{{postInfo?.postName}}</h1>
        <p>Username: <a routerLink="/{{postInfo?.accountUsername}}" target="_blank">{{postInfo?.accountUsername}}</a></p>
    </div>

    <div class="post-details">
        <div class="roomPreview">
            <img id="main" [src]="roomImages[0]">
            <div class="thumb-bar">
                <img *ngFor="let img of roomImages" [src]="img" (click)="changeImage($event)">
            </div>
        </div>

        <div class="roomDetails">
            <h2>Thông tin phòng trọ</h2>
            <div>
                <ul>
                    <li>Trạng thái thuê:
                        <span >{{postInfo?.Room.rented === false ? 'Chưa được thuê' : 'Đã được thuê'}}</span>
                    </li>

                    <li>Địa chỉ:
                        <span> số nhà {{postInfo?.Room.homeNumber}}, đường {{postInfo?.Room.street}}, phường
                            {{postInfo?.Room.ward}},
                            quận {{postInfo?.Room.district}},
                            {{postInfo?.Room.city}}
                        </span>
                    </li>
                    <li>Chung chủ: <span>{{postInfo?.Room.sharedOwner === false ? 'Không' : 'Có'}}</span></li>
                    <li>Diện tích: <span>{{postInfo?.Room.area}} m<sup>2</sup></span> </li>
                    <li>Loại phòng: <span>{{postInfo?.Room.roomType}}</span></li>

                </ul>
            </div>

            <div class="utils">
                <h3><i class="fas fa-house-user" style="color: rgb(80, 168, 146)"></i>Cơ sở vật chất</h3>
                <ul>
                    <li>Điều hòa: <span>{{postInfo?.Room.airconditioner === true ? 'Có' : 'Không'}}</span></li>
                    <li>Ban công: <span>{{postInfo?.Room.balcony === true ? 'Có' : 'Không'}}</span></li>
                    <li>Giá điện: <span>{{postInfo?.Room.electricityPrice | number:'1.0':'en-US' }} đồng kW/h</span>
                    </li>
                    <li>Giá nước: <span>{{postInfo?.Room.waterPrice | number:'1.0':'en-US' }} đồng
                            /m<sup>3</sup></span></li>
                    <li>Phòng bếp: <span>{{postInfo?.Room.kitchen}}</span></li>
                    <li>Phòng tắm: <span>{{postInfo?.Room.bathroom}}</span></li>
                </ul>

                <div class="price">
                    <h3><i class="far fa-credit-card" style="color: rgb(88, 182, 169)"></i>Giá phòng</h3>
                    <ul>
                        <li>Theo tháng: <span>{{postInfo?.Room.monthPrice | number:'1.0':'en-US' }} đồng</span></li>
                        <li>Theo quý: <span>{{postInfo?.Room.quarterPrice | number:'1.0':'en-US' }} đồng</span></li>
                        <li>Theo năm: <span>{{postInfo?.Room.yearPrice | number:'1.0':'en-US' }} đồng</span></li>
                    </ul>
                </div>

                <div class="otherUtils">
                    <h3><i class="fas fa-spa" style="color: rgb(87, 180, 192)"></i>Tiện ích khác: </h3>
                    <span>{{postInfo?.Room.otherUtils}}</span>
                </div>
            </div>
        </div>


        <div class="features">
            <h2>Thông tin bài đăng</h2>
            <div class="post-stats">
                <span><i class="fas fa-globe-asia" style="color:rgb(10, 109, 155)"></i>Lượt xem: {{postInfo?.viewsNumber
                    + 1}}</span>
                <span><i class="fas fa-thumbs-up" style="color: rgb(10, 109, 155)"></i>Số lượt yêu thích:
                    {{postInfo?.likesNumber}}</span>
                <span><span class="fa fa-star checked"></span>Số sao: {{postInfo?.starsReview | number : '1.2-2'}} / 5
                </span>
            </div>

            <div>
                <button type="button" class="btn btn-primary" (click)="changeFavorite()" *ngIf="currentAccount">{{favoriteButtonText}}</button>
                <button type="button" class="btn btn-danger" (click)="showReportInput()"
                    *ngIf="currentAccount">Report</button>
                <button type="button" class="btn btn-info"
                    *ngIf="postInfo?.accountUsername === currentAccount?.username" data-toggle="modal" data-target="#extendModal" (click)="getExtendPostInfo()">Gia hạn </button>
                <button type="button" class="btn btn-info" (click)="changeRoomState()"
                    *ngIf="postInfo?.accountUsername === currentAccount?.username">Chuyển trạng thái thành {{roomState}}</button>
            </div>

            <div class="report-content" *ngIf="showReportArea">
                <textarea class="form-control"></textarea>
                <button class="btn btn-warning" (click)="sendReport()">Report bài đăng</button>
            </div>
        </div>

        <div class="owner-info">
            <h2><i class="far fa-address-card" style="margin-left: 10px"></i>Thông tin liên lạc</h2>

            <ul class="list-group">
                <li class="list-group-item"><i class="fas fa-user-alt"></i>Họ tên: {{ownerInfo?.fullName}}</li>
                <li class="list-group-item"><i class="fas fa-phone"></i> SDT: {{ownerInfo?.phoneNumber}}</li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Mô tả phòng trọ
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{postInfo?.Room.description}}</p>
                <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
            </blockquote>
        </div>
    </div>

    <div class="comments">
        <app-comments></app-comments>
    </div>
</div>

<app-footer></app-footer>

<div class="modal fade" id="extendModal" tabindex="-1" role="dialog" 
    aria-labelledby="extendModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h1 class="modal-title" id="extendModalLabel">
				Gia hạn bài đăng
            </h1>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
            <h2>Hạn hiện tại của bài đăng: {{postExpiredTime}}</h2>
			<form>
				<div class="form-group">
				  <label for="deletePassword">Nhập hạn mới cho bài đăng</label>
				  <input type="date" min="{{HTMLminDate}}" class="form-control" name="newExpireDate" (change)="calculateCost()"
                  id="newExpireDate">
				</div>
            </form>
            <h1>Giá cần thanh toán: {{extendCost}}</h1>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
			<button type="button" class="btn btn-primary" (click)="createExtendRequest()"
              data-dismiss="modal">
                  Xác nhận
            </button>
		</div>
		</div>
	</div>
</div>