<app-main-nav *ngIf="validLoaded"> </app-main-nav>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div *ngIf="validLoaded" class="container padding-bottom-3x mb-2">
    <div class="row">
        <div class="col-lg-4">
            <aside class="user-info-wrapper">
                <div class="user-cover" style="background-image: url('./assets/background3-small.jpg');"></div>
                <div class="user-info">
                    <div class="user-avatar">
                        <img src="https://www.bootdey.com/img/Content/avatar/avatar1.png" alt="User">
                    </div>
                    <div class="user-data">
                        <h1>{{accountInfo?.fullName}}</h1>
                    </div>
                </div>
            </aside>
            <nav class="list-group"><a class="list-group-item with-badge" href="#"><i class="fa fa-phone"></i>{{accountInfo?.phoneNumber}}</a>
                <a class="list-group-item" href="#"><i class="fa fa-envelope-square"></i>{{accountInfo?.email}}</a>
                <a class="list-group-item" href="#"><i class="fa fa-user"></i>@{{receiver}}</a>
                <a class="list-group-item with-badge" href="#"><i class="fa fa-group"></i>{{accountType}}</a>
            </nav>

            <h1 class="mb-30 padding-top-1x">Gửi tin nhắn cho {{accountInfo?.fullName}}</h1>
            <form method="post" (ngSubmit)="sendMessage()">
                <div class="form-group">
                    <textarea rows="4" class="form-control form-control-rounded" id="review_text" rows="8"
                        placeholder="Write your message here..." required="" name="content"
                        [formControl]="messageContent"></textarea>
                </div>
                <div class="text-right">
                    <button class="btn btn-outline-primary" type="submit">Gửi tin nhắn </button>
                </div>
            </form>
        </div>
        <div class="col-lg-8">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" 
                    role="tab" aria-controls="nav-home" aria-selected="true">Bài đăng đã thích</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" 
                    role="tab" aria-controls="nav-profile" aria-selected="false">Bài đăng của người dùng</a>
                    <a *ngIf="receiver==currentAccount.username" class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" 
                    role="tab" aria-controls="nav-contact" aria-selected="false">Bài đăng chưa được duyệt</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <table class="table" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tên bài đăng</th>
                                <th>Chủ nhà</th>
                                <th>Lượt xem</th>
                                <th>Lượt thích</th>
                                <th>Xem bài đăng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of likedPosts">
                                <a href="#"><td>{{post.postName}}</td></a>
                                <td>{{post.accountUsername}}</td>
                                <td>{{post.viewsNumber}}</td>
                                <td>{{post.likesNumber}}</td>
                                <td><a href="javascript:void(0)" (click)="seePost(post.postID)">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-eye fa-stack-1x fa-inverse"></i>
									</span>
                                Xem</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <table class="table" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tên bài đăng</th>
                                <th>Chủ nhà</th>
                                <th>Lượt xem</th>
                                <th>Lượt thích</th>
                                <th>Xem bài đăng</th>
                                <th *ngIf="receiver==currentAccount.username">Gia hạn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of postsOfUser">
                                <td><a href="#">{{post.postName}}</a></td>
                                <td>{{post.accountUsername}}</td>
                                <td>{{post.viewsNumber}}</td>
                                <td>{{post.likesNumber}}</td>
                                <td><a href="javascript:void(0)" (click)="seePost(post.postID)">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-eye fa-stack-1x fa-inverse"></i>
									</span>
                                Xem</a></td>
                                <td *ngIf="receiver==currentAccount.username"><a href="javascript:void(0)" 
                                    data-toggle="modal" data-target="#extendModal" (click)="getExtendPostInfo(post.postID)">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-clock fa-stack-1x fa-inverse"></i>
									</span>
								</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="receiver==currentAccount.username" class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <table class="table" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tên bài đăng</th>
                                <th>Ngày tạo</th>
                                <th>Chỉnh sửa thông tin bài đăng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of unverifiedPosts">
                                <td><a href="#">{{post.postName}}</a></td>
                                <td><a href="#">{{reformatDate(post.createdAt)}}</a></td>
                                <td><a href="javascript:void(0)" (click)=editPost(post.postID)>
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
                                Chỉnh sửa</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer *ngIf="validLoaded"></app-footer>

<div class="modal fade" id="extendModal" tabindex="-1" role="dialog" 
    aria-labelledby="extendModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h1 class="modal-title" id="extendModalLabel">
				Gia hạn bài đăng
            </h1>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
            <h2>Hạn hiện tại của bài đăng: {{postExpiredTime}}</h2>
			<form>
				<div class="form-group">
				  <label for="deletePassword">Nhập hạn mới cho bài đăng</label>
				  <input type="date" min="{{HTMLminDate}}" class="form-control" name="newExpireDate" (change)="calculateCost()"
				  id="newExpireDate">
				</div>
            </form>
            <h1>Giá cần thanh toán: {{extendCost}}</h1>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
			<button type="button" class="btn btn-primary" (click)="createExtendRequest()"
              data-dismiss="modal">
                  Xác nhận
            </button>
		</div>
		</div>
	</div>
</div>