<div class="container">
    <div class="stats-all-time">
        <div class="most-views">
            <h1>Post có nhiều lượt xem nhất</h1>
            <a routerLink="/post/{{mostViewedPost?.postID}}" target="_blank"><img [src]="mostViewedPostImage"></a>
            <p>Post ID: {{mostViewedPost?.postID}}</p>
            <p>Tên bài đăng: {{mostViewedPost?.postName}}</p>
            <p>Tài khoản: {{mostViewedPost?.accountUsername}}</p>
        </div>

        <div class="most-likes">
            <h1>Post có nhiều lượt yêu thích nhất</h1>
            <a routerLink="/post/{{mostLikesPost?.postID}}" target="_blank"><img [src]="mostLikesPostImage"></a>
            <p>Post ID: {{mostLikesPost?.postID}}</p>
            <p>Tên bài đăng: {{mostLikesPost?.postName}}</p>
            <p>Tài khoản: {{mostLikesPost?.accountUsername}}</p>
        </div>

        <div class="most-posts-time-range">
            <h1>Khoảng thời gian có nhiều bài xem nhất: </h1>
            <ul>
                <li>Thời gian: {{timeInfo.intervals}}</li>
                <li>Số lượng bài viết: {{timeInfo.numberOfPosts}}</li>
            </ul>
        </div>
    </div>

    <div class="stats-filter">
        
    </div>
</div>
