<section class="container-fluid sec-footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card desc-box">
                    <div class="card-body">
                        <div class="card-title">ABOUT US</div>
                        <div class="card-text">
                            We are an award-winning creative agency, dedicated to the best result in web design, promotion,
                        business consulting, and marketing.
                        </div>
                    </div>
                </div><!--.card-->
            </div><!--.col-->
            <div class="col">
                <div class="card desc-box">
                    <div class="card-body">
                        <div class="card-title">CONTACTS</div>
                        <div class="card-text">
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-phone ml-3"></i>
                                    <span>0927146476</span>
                                </div><!--.col-->
                            </div><!--.row-->
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-map-marker ml-3"></i>
                                    <span>Xuân Thủy, Dịch Vọng Hậu, Cầu Giấy</span>
                                </div><!--.col-->
                            </div><!--.row-->
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-envelope-open ml-3"></i>
                                    <span>dthieu223@gmail.com</span>
                                </div><!--.col-->
                            </div><!--.row-->
                        </div><!--.card-text-->
                    </div>
                </div><!--.card-->
            </div><!--.col-->
            <div class="col text-center">
                <img src="../../assets/EA-Emblem.png" width="150" height="80" class="mb-3">
                <br class="clearfix">
                <a href="#" class="snip1472"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="snip1472"><i class="fab fa-instagram"></i></a>
                <a href="#" class="snip1472"><i class="fab fa-telegram-plane"></i></a>
                <a href="#" class="snip1472"><i class="fab fa-google-plus-g"></i></a>
            </div><!--.col-->
        </div><!--.row-->
    </div>
</section>
<section class="container-fluid sec-sub-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <span>Tran Viet Anh - vietanhtran.uet@gmail.com</span>
            </div><!--.col-->
            <div class="col text-left">
                <a href="https://github.com/vietanhtran2710/EasyAccomod" class="f-light text-dark">Pham Xuan Hanh</a>
                <a href="https://github.com/vietanhtran2710/EasyAccomod"  class="f-light text-dark"> - @hanhpx</a>
            </div><!--.col-->
        </div><!--.row-->
    </div>
</section>