<footer class="section footer-classic context-dark bg-dark" style="background: #2d3246;">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light"
                            src="../../assets/uet.png" alt="" width="140" height="37"
                            srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                    <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion,
                        business consulting, and marketing.</p>
                    <!-- Rights-->
                    <p class="rights"><span>©  </span><span
                            class="copyright-year">2020</span><span> </span><span>EasyAccomod</span><span>. </span><span>All
                            Rights Reserved.</span></p>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Liên hệ</h5>
                <dl class="contact-list">
                    <dt>Địa chỉ:</dt>
                    <dd>144 Xuân Thủy, Dịch Vọng Hậu, Cầu Giấy, Hà Nội</dd>
                </dl>
                <dl class="contact-list">
                    <dt>Email:</dt>
                    <dd><a href="mailto:dthieu223@gmail.com">dthieu223@gmail.com</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>SĐT:</dt>
                    <dd><a href="tel:0927146476">0927146476</a>
                    </dd>
                </dl>
            </div>
           
        </div>
    </div>
</footer>