<form action="http://localhost:8080/post/create" method="POST" class="needs-validation" novalidate>
    <div class="form-row">
        <div class="col">
            <label for="ownerName">Họ và tên</label>
            <input type="text" class="form-control" id="ownerName" placeholder="Example input" readonly>
        </div>

        <div class="col">
            <label for="ownerNumber">Số điện thoại</label>
            <input type="text" class="form-control" id="ownerNumber" placeholder="Example input" readonly>
        </div>
    </div>

    <fieldset>
        <legend>Địa chỉ phòng trọ</legend>
        <div class="form-row">
            <div class="col">
                <label for="homeNumber">Số nhà</label>
                <input type="text" class="form-control" id="homeNumber">
            </div>

            <div class="col">
                <label for="street">Đường</label>
                <input type="text" class="form-control" id="street">
            </div>

            <div class="col">
                <label for="ward">Phường</label>
                <input type="text" class="form-control" id="ward">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <label for="district">Quận</label>
                <input type="text" class="form-control" id="district">
            </div>

            <div class="col">
                <label for="city">Tỉnh</label>
                <input type="text" class="form-control" id="city">
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <label for="description">Mô tả</label>
        <textarea class="form-control" id="description"></textarea>
    </div>

    <div class="form-row">
        <div class="col">
            <label for="roomType">Loại phòng</label>
            <select id="roomType" class="form-control">
                <option selected>Chọn...</option>
                <option>Phòng trọ</option>
                <option>Chung cư mini</option>
                <option>Nhà nguyên căn</option>
                <option>Chung cư nguyên căn</option>
            </select>
        </div>

        <div class="col">
            <label for="sharedOwner">Chung chủ</label>
            <select id="sharedOwner" class="form-control">
                <option selected>Chọn...</option>
                <option>Có</option>
                <option>Không</option>
            </select>

        </div>

        <div class="col">
            <label for="area">Diện tích</label>
            <input type="text" class="form-control" id="area">
        </div>
    </div>

    <fieldset>
        <div class="form-group">
            <legend>Điều kiện vật chất</legend>
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Điều hòa</legend>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio1">Có</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="option2">
                    <label class="form-check-label" for="inlineRadio2">Không</label>
                </div>
            </div>

            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Ban công</legend>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio1">Có</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="option2">
                    <label class="form-check-label" for="inlineRadio2">Không</label>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="bathroom">Phòng tắm</label>
                    <input type="text" class="form-control" id="bathroom" placeholder="Mô tả phòng tắm">
                </div>

                <div class="col">
                    <label for="kitchen">Phòng bếp</label>
                    <input type="text" class="form-control" id="kitchen" placeholder="Mô tả phòng bếp">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="electrictyPrice">Giá điện</label>
                    <input type="text" class="form-control" id="electrictyPrice">
                </div>

                <div class="col">
                    <label for="waterPrice">Giá nước</label>
                    <input type="text" class="form-control" id="waterPrice">
                </div>
            </div>

            <div class="form-group">
                <label for="otherUtils">Tiện ích khác</label>
                <textarea class="form-control" id="otherUtils" rows="3"></textarea>
            </div>
        </div>

        <fieldset>
            <legend>Giá phòng</legend>
            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label for="monthlyPrice">Theo tháng</label>
                        <input type="text" class="form-control" id="monthlyPrice">
                    </div>
                    <div class="col">
                        <label for="quarterPrice">Theo quý</label>
                        <input type="text" class="form-control" id="quarterPrice">
                    </div>

                    <div class="col">
                        <label for="yearlyPrice">Theo năm</label>
                        <input type="text" class="form-control" id="yearlyPrice">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </fieldset>

    <div class="form-group">
        <label for="images">Hình ảnh</label>
        <input type="file" class="form-control-file" id="images" multiple>
    </div>

    <fieldset>
        <legend>Thời gian hiển thị bài đăng</legend>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="postWeek">Tuần</label>
                    <input type="week" class="form-control" id="postWeek">
                </div>

                <div class="col">
                    <label for="postMonth">Tháng</label>
                    <input type="month" class="form-control" id="postMonth">
                </div>

                <div class="col">
                    <label for="postYear">Năm</label>
                    <input type="text" class="form-control" id="postYear">
                </div>
            </div>
        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary">Đăng kí phòng trọ</button>
</form>

