<div class="page">
    <div class="part container">
        <span class="login100-form-title p-b-26">
            EasyAccomod
        </span>

        <form [formGroup]="account" (ngSubmit)="signIn()" enctype="multipart/form-data">
            <div class="cross-validation">
                <label for="name"><b>Username</b></label>

                <input class="input100 form-control" id="name" name="username" type="text" formControlName="username">

                <label for="password"><b>Password</b></label>

                <input class="input100 form-control" id="password" name="password" type="password"
                    formControlName="password">
            </div>
            <button class="btn grey" type="submit">Sign In</button>
        </form>

        <span class="txt1">
            Don’t have an account?
        </span>

        <a class="txt2" href="/register">
            Sign Up
        </a>

    </div>
</div>