<div class="page">
    <div class="part container">
        <span class="login100-form-title p-b-26">
            EASYACCOMOD
        </span>

        <form [formGroup]="account" (ngSubmit)="signIn()" enctype="multipart/form-data">
            <div class="cross-validation">
                <label for="name"><b>Username</b></label>

                <input class="input100 form-control" id="name" name="username" type="text" formControlName="username">

                <label for="password"><b>Password</b></label>

                <input class="input100 form-control" id="password" name="password" type="password"
                    formControlName="password">
            </div>
            <button class="btn pink" type="submit">SIGN IN</button>
            <a routerLink="/register">
                <button class="btn pink">DON'T HAVE AN ACCOUNT? SIGN UP</button>
            </a>
            <span *ngIf="loginMessage">{{loginMessage}}</span>
        </form>

    </div>
    
</div>


