<div class="page">
    <div class = "part container">
        <span class="login100-form-title p-b-26">
            Register
        </span>

        <form appIdentityRevealed>
            <div class="cross-validation">
                <div class="form-row">
                    <div class="col">
                        <label for="firstName"><b>First Name</b></label>
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <label for="lastName"><b>Last Name</b></label>
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>

                <label for="name"><b>Username</b></label>
                <input class="input100 form-control" id="name" name="name" type="text">

                <label for="psw"><b>Password</b></label>
                <input class="input100 form-control" id="password" name="password" type="password">

                <label for="confirmPsw"><b>Confirm Password</b></label>
                <input class="input100 form-control" id="confirmPassword" name="confirmPassword" type="password">

                <label for="type"><b>Account Type</b></label>
                <select class="form-control">
                    <option>Landlord</option>
                    <option>Renter</option>
                  </select>

                <label for="confirmPsw"><b>ID Card Number</b></label>
                <input class="input100 form-control" id="idCard" name="idCard" type="number">

                <label for="confirmPsw"><b>Phone number</b></label>
                <input class="input100 form-control" id="phone" name="phone" type="number">

                <label for="confirmPsw"><b>Email</b></label>
                <input class="input100 form-control" id="email" name="email" type="email">

                <label for="confirmPsw"><b>Address</b></label>
                <textarea class="form-control" id="address" name="address" rows="3"></textarea>
            </div>
        
        </form>

        <a class="btn grey" href="#">Register</a>

        <span class="txt1">
            Already have an account?
        </span>

        <a class="txt2" href="#">
            Sign In
        </a>

    </div>
</div>