<div class="page">
    <div class="part container">
        <span class="login100-form-title p-b-26">
            Register
        </span>

        <form [formGroup]="accountModel" (ngSubmit)="registerAccount()" enctype="multipart/form-data">
            <div class="cross-validation">
                <div class="form-row" formGroupName="name">
                    <div class="col">
                        <label for="firstName"><b>First Name</b></label>
                        <input type="text" class="form-control" placeholder="First name" name="firstName"
                            formControlName="firstName">
                    </div>
                    <div class="col">
                        <label for="lastName"><b>Last Name</b></label>
                        <input type="text" class="form-control" placeholder="Last name" name="lastName"
                            formControlName="lastName">
                    </div>
                </div>

                <label for="name"><b>Username</b></label>
                <input class="input100 form-control" id="name" name="username" type="text" formControlName="username">

                <label for="psw"><b>Password</b></label>
                <input class="input100 form-control" id="password" name="password" type="password"
                    formControlName="password">

                <label for="confirmPsw"><b>Confirm Password</b></label>
                <input class="input100 form-control" id="confirmPassword" name="confirmPassword" type="password">

                <label for="accountType"><b>Account Type</b></label>
                <select class="form-control" name="accountType" formControlName="accountType">
                    <option>Landlord</option>
                    <option>Renter</option>
                </select>

                <label for="idCard"><b>ID Card Number</b></label>
                <input class="input100 form-control" id="idCard" name="idCard" type="text" formControlName="idCard">

                <label for="phoneNumber"><b>Phone number</b></label>
                <input class="input100 form-control" id="phoneNumber" name="phoneNumber" type="text"
                    formControlName="phoneNumber">

                <label for="email"><b>Email</b></label>
                <input class="input100 form-control" id="email" name="email" type="email" formControlName="email">

                <label for="address"><b>Address</b></label>
                <textarea class="form-control" id="address" name="address" rows="3"
                    formControlName="address"></textarea>
            </div>

            <button class="btn grey" type="submit">Register</button>
        </form>

        <span class="txt1">
            Already have an account?
        </span>

        <a class="txt2" routerLink="/login">
            Sign In
        </a>
    </div>
</div>