<div class="container">
    <div class="comments">
        <button class="btn btn-primary" (click)="verifyComment()">Duyệt bình luận</button>
        <button class="btn btn-secondary" (click)="denyComment()">Từ chối bình luận</button>

        <br>
        <table class="table table-hover">
            <thead class="thead-dark">
                <th>
                    <input type="checkbox" (change)="addAllComments($event)">
                </th>
                <th>ID bình luận</th>
                <th>Nội dung</th>
                <th>Username</th>
                <th>Thời gian comment</th>
                <th>ID bài đăng</th>
                <th>Tên bài đăng</th>
                <th>Số sao</th>
            </thead>

            <tbody>
                <ng-container *ngFor="let post of postsHaveUnverifiedComments">
                    <tr *ngFor="let comment of post.comments">
                        <td><input type="checkbox" (click)="addComment($event)"></td>
                        <td>{{comment.commentID}}</td>
                        <td>{{comment.content}}</td>
                        <td>{{comment.accountUsername}}</td>
                        <td>{{comment.createdAt | date : 'short' : 'Asia/Ho_Chi_Minh'}}</td>
                        <td>{{comment.PostPostID}}</td>
                        <td>{{post.postName}}</td>
                        <td>{{comment.starsReview}}</td>
                    </tr>
                </ng-container>

            </tbody>
        </table>
    </div>
</div>