<div class="container">
    <div class="account">
        <input class="search" type="text" placeholder="Tìm kiếm username">
        <button class="accept">Duyệt tài khoản</button>
        <button class="deny">Từ chối duyệt</button>
        <br>
        <table>
            <tr>
                <th>
                    <input type="checkbox">
                </th>
                <th>Username</th>
                <th>Trạng thái duyệt</th>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>dthieu223</td>
                <td>Chưa duyệt</td>
            </tr>
        </table>

    </div>

    <div class="account-info">
        <h1>Thông tin chi tiết</h1>
        <ul>
            <li>Username: </li>
            <li>Số căn cước: </li>
            <li>Họ tên: </li>
            <li>Số điện thoại:</li>
            <li>Email: </li>
            <li>Địa chỉ: </li>
        </ul>
    </div>

</div>