table {
    border-collapse: collapse;
    border: 1px solid black;
    float: left;
    cursor: pointer;
}

th, td {
    border: 1px solid black;
    text-align: center;
    width: fit-content;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.search, h1 {
    margin-top: 20px;
}

.search {
    margin-bottom: 5px;
}

button {
    margin-right: 5px;
}

.form-control {
    margin-bottom: 10px;
}

.noti {
    background-color: rgb(207, 232, 220);
    border: 2px solid rgb(79, 185, 227);
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    margin-top: 5px;
}

.option {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.verifiedStatus {
    margin-right: 10px;
}