<div class="container">
    <div class="account">
        <button class="btn btn-secondary accept" (click)="verifyAccount()">Duyệt tài khoản</button>
        <button class="btn btn-danger deny">Từ chối duyệt</button>
        <br>
        <table class="table table-hover">
            <thead class="thead-dark">
                <th>
                    <input type="checkbox" class="selectAll" (change)="addAllAccount($event)">
                </th>
                <th>Username</th>
                <th>Trạng thái duyệt</th>
            </thead>
            <tbody>
                <tr *ngFor="let account of accounts">
                    <td><input type="checkbox" (change)="addToVerifyList($event)"></td>
                    <td (click)="showAccountInfo($event)">{{account?.username}}</td>
                    <td>{{account?.verified}}</td>
                </tr>
            </tbody>
        </table>

       
    </div>
    <div class="account-info">
        <h1>Thông tin chi tiết</h1>
        <ul class="list-group">
            <li class="list-group-item">Username: {{accountInfo?.username}}</li>
            <li class="list-group-item">Số căn cước: {{accountInfo?.idCard}}</li>
            <li class="list-group-item">Họ tên: {{accountInfo?.fullName}}</li>
            <li class="list-group-item">Số điện thoại: {{accountInfo?.phoneNumber}}</li>
            <li class="list-group-item">Email: {{accountInfo?.email}}</li>
            <li class="list-group-item">Địa chỉ: {{accountInfo?.address}}</li>
        </ul>
    </div>

    <div class="noti" *ngIf="verifiedSuccessfully">
        Phê duyệt thành công
    </div>
</div>