<div class="container">
    <div class="account">
        <div class="option">
            <div class="verifiedStatus">
                <span>Trạng thái duyệt</span>
                <select class="form-control" (change)="getAccountsByStatus($event)">
                    <option>Tất cả</option>
                    <option>Đã được duyệt</option>
                    <option>Chưa được duyệt</option>
                </select>
            </div>

            <div class="accountType">
                <span>Loại tài khoản</span>
                <select class="form-control" (change)="getAccountsByType($event)">
                    <option>Tất cả</option>
                    <option>Chủ trọ</option>
                    <option>Người thuê</option>
                </select>
            </div>
        </div>

        <table class="table table-hover">
            <thead class="thead-dark">
                <th>
                    <input type="checkbox" class="selectAll" (change)="addAllAccount($event)">
                </th>
                <th>Username</th>
                <th>Loại tài khoản</th>
            </thead>
            <tbody>
                <tr *ngFor="let account of accounts">
                    <td><input type="checkbox" (change)="addToVerifyList($event)"></td>
                    <td (click)="showAccountInfo($event)">{{account?.username}}</td>
                    <td>{{account?.accountType}}</td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-secondary accept" (click)="verifyAccount()">Duyệt tài khoản</button>
        <button class="btn btn-danger deny" (click)="unverifyAccount()">Từ chối duyệt</button>

        <div class="noti" *ngIf="verifiedSuccessfully">
            {{message}}
        </div>
    </div>

    <div class="account-info">
        <h1>Thông tin chi tiết</h1>
        <ul class="list-group">
            <li class="list-group-item">Username: {{accountInfo?.username}}</li>
            <li class="list-group-item">Số căn cước: {{accountInfo?.idCard}}</li>
            <li class="list-group-item">Họ tên: {{accountInfo?.fullName}}</li>
            <li class="list-group-item">Số điện thoại: {{accountInfo?.phoneNumber}}</li>
            <li class="list-group-item">Email: {{accountInfo?.email}}</li>
            <li class="list-group-item">Địa chỉ: {{accountInfo?.address}}</li>
        </ul>
    </div>

   
</div>