table {
    /* margin-top: 20px; */
    border-collapse: collapse;
    border: 1px solid black;
    float: left;
    width: 50%;
    cursor: pointer;
}

th, td {
    border: 1px solid black;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.search, h1 {
    margin-top: 20px;
}

.search {
    margin-bottom: 5px;
}
