<div class="page">
    <div class="part container">
        <span class="login100-form-title p-b-26">
            CHANGE PASSWORD
        </span>

        <form [formGroup]="pwd" (ngSubmit)="changePassword()" enctype="multipart/form-data">
            <div class="cross-validation">
                <label for="name"><b>Mật khẩu hiện tại</b></label>

                <input class="input100 form-control" id="currentpwd" name="currentpwd" type="password" formControlName="currentpwd">

                <label for="password"><b>Nhập mật khẩu mới</b></label>

                <input class="input100 form-control" id="newpwd" name="newpwd" type="password"
                    formControlName="newpwd">
                
                <label for="password"><b>Xác nhận mật khẩu mới</b></label>

                <input class="input100 form-control" id="confirmnewpwd" name="confirmnewpwd" type="password"
                    formControlName="confirmnewpwd">
            </div>
            <button class="btn pink" type="submit">Thay đổi mật khẩu</button>
            <a routerLink="/home">
                <button class="btn pink">Hủy bỏ</button>
            </a>
        </form>

    </div>
    
</div>


