<app-main-nav> </app-main-nav>
<img src="../../assets/background3-small.jpg" class="card-img-top" alt="...">

<div class="main">
    <div class="preview">
        <h1>
            <img class="room" src="../../assets/room-logo.jpg" height="75px">
            Bài đăng mới nhất
        </h1>

        <div class="room-preview" *ngIf="latestPosts?.length > 0">
            <div *ngFor="let i of createRange(4)">
                <a routerLink="/post/{{latestPosts[i].postID}}" *ngIf="latestPostsImages[i]">
                    <img [src]="latestPostsImages[i]">
                </a>

                <p class="postTitle" *ngIf="latestPosts[i]">{{latestPosts[i].postName}}</p>

                <div class="room-info" *ngIf="latestPosts[i]">
                    <p><i class="fas fa-home"></i>{{latestPosts[i].Room.city}}</p>
                    <p><i class="fas fa-money-bill-wave"></i>{{latestPosts[i].Room.monthPrice | number:'1.0':'en-US' }}
                        / tháng</p>
                </div>
            </div>
        </div>
    </div>


    <div class="top-star">
        <h1>
            <img class="room" src="../../assets/room-logo.jpg" height="75px">

            Đánh giá cao nhất
        </h1>

        <div class="room-rate" *ngIf="starpost?.length > 0">
            <div *ngFor="let i of createRange(4)">
                <a routerLink="/post/{{starpost[i].postID}}" *ngIf="starpostImage[i]">
                    <img [src]="starpostImage[i]">
                </a>

                <p class="postTitle" *ngIf="starpost[i]">{{starpost[i].postName}}</p>

                <div class="room-info" *ngIf="starpost[i]">
                    <p><i class="fas fa-home"></i>{{starpost[i].Room.city}}</p>
                    <p><i class="fas fa-money-bill-wave"></i>{{starpost[i].Room.monthPrice | number:'1.0':'en-US' }} /
                        tháng</p>
                </div>
            </div>
        </div>

    </div>

    <div class="top-viewed">
        <h1>
            <img class="room" src="../../assets/room-logo.jpg" height="75px">

            Nhiều lượt xem nhất
        </h1>

        <div class="room-view" *ngIf="viewpost?.length > 0">
            <div *ngFor="let i of createRange(4)">
                <a routerLink="/post/{{viewpost[i].postID}}" *ngIf="viewpostImage[i]">
                    <img [src]="viewpostImage[i]">
                </a>

                <p class="postTitle" *ngIf="viewpost[i]">{{viewpost[i].postName}}</p>

                <div class="room-info" *ngIf="viewpost[i]">
                    <p><i class="fas fa-home"></i>{{viewpost[i].Room.city}}</p>
                    <p><i class="fas fa-money-bill-wave"></i>{{viewpost[i].Room.monthPrice | number:'1.0':'en-US' }} /
                        tháng</p>
                </div>
            </div>
        </div>
    </div>

    <div class="join">
        <img src="../../assets/background3_cut.jpg" id="to-post">
        <div class="slogan">Chưa đúng phòng trọ bạn cần?</div>
        <div class="middle-left"><button class="btn btn-light" (click)="toPostPage()">Tìm phòng trọ ngay</button></div>
    </div>
</div>

<app-footer></app-footer>