<app-main-nav> </app-main-nav>
<img src="../../assets/background3-small.jpg" class="card-img-top" alt="...">

<div class="main">
    <div class="preview">
        <h1>
            <img class="room" src="../../assets/room-logo.jpg" height="75px">
            Bài đăng mới nhất
        </h1>

        <div class="room-preview" *ngIf="latestPosts?.length > 0">
            <div *ngFor="let i of createRange(4)">
                <a routerLink="/post/{{latestPosts[i].postID}}" *ngIf="latestPostsImages[i]">
                    <img [src]="latestPostsImages[i]">
                </a>

                <p class="postTitle" *ngIf="latestPosts[i]">{{latestPosts[i].postName}}</p>
                <p *ngIf="latestPosts[i]">Tạo bởi {{latestPosts[i].accountUsername}}</p>
            </div>
        </div>
    </div>

    <div class="top-star">
        <h1>
            <img class="room" src="../../assets/room-logo.jpg" height="75px">

            Đánh giá cao nhất
        </h1>

        <div class="room-rate" *ngIf="starpost?.length > 0">
            <div *ngFor="let i of createRange(4)">
                <a routerLink="/post/{{starpost[i].postID}}" *ngIf="starpostImage[i]">
                    <img [src]="starpostImage[i]">
                </a>

                <p class="postTitle" *ngIf="starpost[i]">{{starpost[i].postName}}</p>
                <p *ngIf="starpost[i]">Tạo bởi {{starpost[i].accountUsername}}</p>
            </div>
        </div>

    </div>

    <div class="top-viewed">
        <h1>
            <img class="room" src="../../assets/room-logo.jpg" height="75px">

            Nhiều lượt xem nhất
        </h1>

        <div class="room-view" *ngIf="viewpost?.length > 0">
            <div *ngFor="let i of createRange(4)">
                <a routerLink="/post/{{viewpost[i].postID}}" *ngIf="viewpostImage[i]">
                    <img [src]="viewpostImage[i]">
                </a>

                <p class="postTitle" *ngIf="viewpost[i]">{{viewpost[i].postName}}</p>
                <p *ngIf="viewpost[i]">Tạo bởi {{viewpost[i].accountUsername}}</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>