<div class="container">
    <table>
        <thead>
            <tr >
                <th rowspan="2" >username</th>
                <th rowspan="2">ID bài đăng</th>
                <th rowspan="2">Tên bài đăng</th>
                <th colspan="3">Thời gian hiển thị</th>
                <th rowspan="2">Số tiền cần trả</th>
                <th rowspan="2">Số tiền đã trả</th>
                <th rowspan="2">Đã trả đủ</th>
            </tr>

            <tr>
                <th>Số tuần</th>
                <th>Số tháng</th>
                <th>Số năm</th>
            </tr>

        </thead>
        <tbody>

        </tbody>
    </table>
</div>