<div class="container">
    <div>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th rowspan="2">username</th>
                    <th rowspan="2">ID bài đăng</th>
                    <th rowspan="2">Tên bài đăng</th>
                    <th colspan="3">Thời gian hiển thị</th>
                    <th rowspan="2">Số tiền cần trả</th>
                    <th rowspan="2">Số tiền đã trả</th>
                    <th rowspan="2">Đã trả đủ</th>
                    <th rowspan="2">Thao tác</th>
                </tr>

                <tr>
                    <th>Số tuần</th>
                    <th>Số tháng</th>
                    <th>Số năm</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let post of unpaidPostsList">
                    <td>{{post.accountUsername}}</td>
                    <td>{{post.postID}}</td>
                    <td>{{post.postName}}</td>
                    <td>{{post.postWeek}}</td>
                    <td>{{post.postMonth}}</td>
                    <td>{{post.postYear}}</td>
                    <td>{{post.postCost}}</td>
                    <td><input type="text" class="form-control paidAmount" value={{post.paidAmount}}></td>
                    <td>{{post.paymentStatus}}</td>
                    <td><button class="btn btn-primary"
                            (click)="updatePostPaymentStatus($event, post.postID, post.postCost)">Cập nhật</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>